
Functie voor bierdouche
<style>
    .slow  .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s;
    }
</style>

Checkbox:
<input id="mylink" type="checkbox" onclick="myFunction()" checked data-toggle="toggle" data-size="xs" data-onstyle="warning" data-style="slow" checked>

<input id="mylink" type="checkbox" onclick="myFunction()" checked>

<p id="text" style="display:none">Checkbox is CHECKED!</p>

<script>
function myFunction() {
  var checkBox = document.getElementById("mylink");
  var script = document.createElement("script");
  if (checkBox.checked == true){
      script.type = "text/javascript";
      script.src = "/static/website/script.js";
      document.getElementsByTagName("head")[0].appendChild(script);
      return false;
  } else {
      script.type = "text/javascript";
      script.src = "";
      document.getElementsByTagName("head")[0].appendChild(script);
      return false;
  }
}
</script>


Google API
var map;
function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8
    });
};

Oude kieswijzer
<h1 class="text-center"> Kieswijzer </h1>

<div class="container">
    {% csrf_token %}
    <br><br>

    {% for vraag in antwoorden %}
    <div class="card text-center" class="">
        <div class="card-header"> <h4> {{ vraag.id }} </h4> </div>
        <div class="card-body">
            <h5 class="card-title"> {{ vraag.vraag }} </h5>
            <a href="#" class="btn btn-warning"> {{ vraag.eens }} </a>
            <a href="#" class="btn btn-warning"> {{ vraag.geenvanbeide }} </a>
            <a href="#" class="btn btn-warning"> {{ vraag.oneens }} </a>
        </div>
        <div class="card-footer text-muted">
            <p class="card-text">Selecteer één van de bovenstaande opties.</p>
        </div>
    </div>
    <br><br>
    {% endfor %}
</div>

Navigatie met letters
<div class="col-1 text-center">
    <ul class="list-group">
        {% for l in letters %}
            <button class="btn btn-light" href="#"> {{ l.name }} </button>
        {% endfor %}
    </ul>
</div>
<div class="col">

Wat vinden de verenigingen?
    <div style="overflow:auto;">
        <div style="float:right;">
            <button type="button" class="btn btn-warning">Wat vinden de verenigingen?</button>
            {% for vraag in verant %}
                <ul>
                    <li> {{ vraag.vereniging }} </li>
                    <li> {{ vraag.antwoord }} </li>
                </ul>
            {% endfor %}
        </div>
    </div>
