{% extends "layout.html" %}

{% load static %}

{% block title %}
    'Vo Contact
{% endblock %}

{% block main %}

    <h1 class="text-center"> Over Vo-keur </h1>
    <br><br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <blockquote class="blockquote">
                    <p> <font size="3"> Vo-keur is opgericht in juni 2019 tijdens de minor
                        Programmeren als eindproject. Het idee van een studentenverenigingen-kieswijzer
                        stamde echter al van september 2018. Ik weet niet meer hoe ik er toen op gekomen ben,
                        ik had in ieder geval niet gedacht dat ik dit idee zelf zou gaan uitwerken.
                        <br>
                        De naam Vo-keur is een samentrekking van ‘vo en voorkeur. Met het woord ’vo,
                        kort voor bravo, geven leden van een studentenvereniging blijk van waardering.
                        Best toepasselijk voor een kieswijzer leek mij.
                        <br>
                        Tijdens het maken van deze website heb ik mij kunnen verdiepen in de wereld van de
                        studentenverenigingen en heb uiteindelijk zelfs kunnen samenwerken met enkele verenigingen
                        en overkoepelende organen om de inhoud van de website te verbeteren en aantrekkelijker
                        te maken.
                        <br>
                        Komende tijd zal Vo-keur proberen verder te groeien zodat alle studentensteden met de
                        bijbehorende studentenverenigingen vertegenwoordigd zijn op de website.
                        <br>
                        Tot slot wil ik graag alle mensen die tot nu toe betrokken
                        zijn geweest bij het programmeren, marketen en uitbreiden van Vo-keur bedanken.
                        In het bijzonder de minor Programmeren van de Universiteit van Amsterdam,
                        waar ik eindelijk eens echt werd uitgedaagd.
                    </font></p>
                    <footer class="blockquote-footer"> L.S. de Roos (20 jaar) <cite title="Source Title"> oprichter van Vo-keur </cite></footer>
                </blockquote>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <header>
                    <div class="text-center">
                        <h2 class=""> Contact voor verenigingen </h2>
                    </div>
                </header>
                <div class="card text-center">
                    <div class="card-header">
                        <strong>Informatie aanpassen of een vereniging toevoegen?</strong>
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Laat het weten! </p>
                        <p class="card-text"> Vaak kan het nog dezelfde dag geregeld worden. </p>
                        <a href="mailto:info.vokeur@gmail.com" class="btn btn-warning hvr-float-shadow">Mail Vo-keur!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <!-- <div class="container">
        <header id="spinner">
            <div>
                <h1> <a style="color: black; text-decoration: none;" href="https://www.instagram.com/vokeur/" target="_blank">Instagram </a> </h1>
            </div>
        </header>

        <div class='embedsocial-instagram' data-ref="b4da133be558886deccb22e8b82c8f8f745b4231"></div><script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/embedscript/in.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialInstagramScript"));</script>
    </div> -->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <header>
                    <div id="spinner">
                        <h1 class=""> Vo-keur </h1>
                    </div>
                </header>

                <div class="card text-center">
                    <div class="card-body">
                        <a href="https://www.instagram.com/vokeur/" target="_blank" class="btn btn-warning hvr-float-shadow">Instagram </a>
                        <a href="mailto:info.vokeur@gmail.com" class="btn btn-warning hvr-float-shadow">Mail</a>
                        <a href="https://www.linkedin.com/in/larsderoos/" target="_blank" class="btn btn-warning hvr-float-shadow">LinkedIn</a>
                    </div>
                    <div class="card-footer text-muted">
                        Programmeerproject juni 2019. Cijfer: 9,5
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}
