{% extends "layout.html" %}

{% load static %}

{% block title %}
    Contact
{% endblock %}

{% block main %}

    <h1 class="text-center"> Contact informatie </h1>
    <br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <header >
                    <div id="spinner">
                        <h1 class=""> 'Vo </h1>
                    </div>
                    <div class="word">
                    	<span> Kort &nbsp </span>
                    	<span> voor &nbsp</span>
                    	<span> ‘bravo’, &nbsp</span>
                    	<span> uitroep van &nbsp</span>
                        <span> waardering &nbsp</span>
                    </div>
                </header>

                <div class="card text-center">
                    <div class="card-body">
                        <p class="card-text">Opgericht door Lars de Roos.</p>
                        <a href="https://www.linkedin.com/in/larsderoos/" class="btn btn-warning">LinkedIn</a>
                        <a href="https://github.com/lsdr1999" class="btn btn-warning">GitHub</a>
                    </div>
                    <div class="card-footer text-muted">
                        Programmeerproject juni 2019
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let spans = document.querySelectorAll('.word span');
        spans.forEach((span, idx) => {
            span.addEventListener('click', (e) => {
                e.target.classList.add('active');
            });
            span.addEventListener('animationend', (e) => {
                e.target.classList.remove('active');
            });
            // Initial animation
            setTimeout(() => {
                span.classList.add('active');
            }, 750 * (idx+1))
        });
    </script>

{% endblock %}
