{% extends "layout.html" %}

{% load static %}

{% block title %}
    'Vo Kieswijzer
{% endblock %}

{% block main %}

    <body>
        <h1 class="text-center"> Kieswijzer voor <span id="stadnaam">{{ test.name }}</span> </h1>
        <br><br>

        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-7">
                <div class="bat" id="eerste">
                    <div class="card text-center">
                        <div class="card-header"> <h4 id="flash"> Vo-keur kieswijzer </h4> </div>
                        <div style="overflow:auto;">
                            <div style="float:right;">
                                <button type="button" class="btn btn-warning hvr-skew-forward" id="but">Start</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <br><br>
                            <h5 class="card-title"> Kieswijzer voor studentenverenigingen. </h5>
                            <h6> Test jouw voorkeur aan de hand van 15 stellingen. </h6>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-7">
                {% csrf_token %}
                <form id="regForm">
                    <div style="text-align:center;margin-top:40px;">
                        {% for vraag in antwoorden %}
                        <span class="step"></span>
                        {% endfor %}
                    </div>
                    {% for vraag in antwoorden %}
                    <div class="tab" id="tweede">
                        <div class="card text-center">
                            <div class="card-header"> <h4> {{ vraag.id }} </h4> </div>
                            <div style="overflow:auto;">
                                <div style="float:left;">
                                    <button type="button" class="btn btn-warning hvr-skew-backward" id="prevBtn" onclick="nextPrev(-1)">Terug</button>
                                </div>
                                <div style="float:right;">
                                    <button type="button" class="btn btn-warning hvr-skew-forward" id="nextBtn4" onclick="nextPrev(1, '')">Sla over</button>
                                </div>
                            </div>
                            <div class="card-body">
                                <br><br>
                                <h5 class="card-title"> {{ vraag.vraag }} </h5>
                                <br><br>
                                <a class="btn btn-warning hvr-buzz" id="nextBtn1" onclick="nextPrev(1, 'Eens')"> {{ vraag.eens }} </a>
                                <a class="btn btn-warning hvr-wobble-horizontal" id="nextBtn2" onclick="nextPrev(1, 'Geen van Beide')"> {{ vraag.geenvanbeide }} </a>
                                <a class="btn btn-warning hvr-buzz" id="nextBtn3" onclick="nextPrev(1, 'Oneens')"> {{ vraag.oneens }} </a>
                            </div>
                            <div class="card-footer text-muted">
                                <p class="card-text">Selecteer één van de bovenstaande opties.</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="tab">
                        <div class="card text-center">
                            <div class="card-header"> <h4> Kieswijzer </h4> </div>
                            <div style="overflow:auto;">
                                <div style="float:left;">
                                    <button type="button" class="btn btn-warning hvr-skew-backward" id="prevBtn" onclick="nextPrev(-1)">Terug</button>
                                </div>
                            </div>
                            <div class="card-body">
                                <br><br>
                                <a class="btn btn-warning hvr-grow-shadow" id="result" onclick="results()"> Uitslag </a>
                                <br><br>
                                <div id="tekst"></div>
                                <div id="resultaten"></div>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br><br>

        <script src="{% static 'website/script.js' %}"></script>
    </body>

{% endblock %}
