{% extends "layout.html" %}

{% load static %}

{% block title %}
    Kieswijzer
{% endblock %}

{% block main %}

<div class="container">
    {% csrf_token %}
    <br><br>

    {% for vraag in antwoorden %}
    <div class="card text-center" class="">
        <div class="card-header"> <h4> {{ vraag.id }} </h4> </div>
        <div class="card-body">
            <h5 class="card-title"> {{ vraag.vraag }} </h5>
            <a href="#" class="btn btn-warning"> {{ vraag.eens }} </a>
            <a href="#" class="btn btn-warning"> {{ vraag.geenvanbeide }} </a>
            <a href="#" class="btn btn-warning"> {{ vraag.oneens }} </a>
        </div>
        <div class="card-footer text-muted">
            <p class="card-text">Selecteer één van de bovenstaande opties.</p>
        </div>
    </div>
    <br><br>
    {% endfor %}
</div>

{% endblock %}
