<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Styles -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        {% load static %}
        <link href="{% static 'website/styles.css' %}" rel="stylesheet">
        <link href="{% static 'website/hover-min.css' %}" rel="stylesheet">

        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <!-- <script src="/static/website/script.js"></script> -->

        <title>{% block title%} {% endblock %}</title>
    </head>

    <header id="spinner">
        <div>
            <h1> Vo-keur </h1>
        </div>
    </header>

    <body>

        <nav class="navbar navbar-expand-md sticky-top navbar-light" id="nav">
			<button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
				<span class="navbar-toggler-icon"></span>
			</button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto mt-2 mb-0 h5">
                    <li class="nav-item"><a class="nav-link" id="nav-color" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" id="nav-color" href="{% url 'kieswijzer' %}">Kieswijzer</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="nav-color" role="button">Verenigingen</a>
                        <div class="dropdown-menu">
                            {% for s in stad %}
                            <a class="dropdown-item" href="{% url 'verenigingen' s.name %}">{{ s.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto mt-2 mb-0 h5">
                    <li class="nav-item"><a class="nav-link" id="nav-color" href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>
        </nav>

        <main class="container-fluid">
            {% block main %}{% endblock %}
        </main>

        <footer class="small text-center text-muted">
			Copyright &#169; 2019
        </footer>

    </body>
</html>
