{% extends "layout.html" %}

{% load static %}

{% block title %}
    'Vo Verenigingen
{% endblock %}

{% block main %}

    <h1 class="text-center"> Verenigingen van {{ test.name }} </h1>

    {% csrf_token %}
    <br><br>
    <div class="row justify-content-center">
        {% for bier in verenigingen %}
        <div class="col-lg-3 col-md-4 col-12">
            <div class="card text-center border-warning mb-3">
                <img src="{{ bier.afbeelding.url }}" class="card-img-top" alt="{{ bier.name }}">
                <div class="card-body">
                    <h5 class="card-title"> {{ bier.name }} </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item small">Opgericht in {{ bier.jaar }} </li>
                    <li class="list-group-item small">Aantal leden: ±{{ bier.leden }} </li>
                    <li class="list-group-item small">Ontgroening: {{ bier.ontgroening }} </li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'vereniging' bier.url %}" class="card-link">Meer informatie</a>
                </div>
            </div>
            <br><br>
        </div>
        {% endfor %}
    </div>

{% endblock %}
