{% extends "layout.html" %}

{% load static %}

{% block title %}
    Verenigingen
{% endblock %}

{% block main %}



    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary">
            Steden
        </button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Lijstje</span>
        </button>
        <div class="dropdown-menu">
            {% for s in stad %}
            <a class="dropdown-item" href="#">{{ s.name }}</a>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#selection").change(function() {
                location = $("#selection option:selected").val();
            });
        });
    </script>

    <p align="center">
        <form name="jump" class="center">
            <select name="menu" id="selection">
                <option value="#">Select an option</option>
                <option value="/link1.shtml">Link 1</option>
                <option value="/link2.shtml">Link 2</option>
                <option value="/link3.shtml">Link 3</option>
            </select>
        </form>
    </p>

    {% for bier in verenigingen %}
    <div class="container">
        {% csrf_token %}
        <br><br>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem; text-align:center;">
                    <img src="{{ bier.afbeelding.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> {{ bier.name }} </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item small">Opgericht in {{ bier.jaar }} </li>
                        <li class="list-group-item small">Aantal leden: ±{{ bier.leden }} </li>
                        <li class="list-group-item small">Ontgroening: Ja </li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Meer informatie</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
