{% extends "layout.html" %}

{% load static %}

{% block title %}
    Woordenboek
{% endblock %}

{% block main %}

    <h1 class="text-center"> Woordenboek </h1>
    <div class="container">
        {% csrf_token %}
        <br><br>
        {% for woord in woorden %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-7">
                <div class="card">
                    <div class="card-header">
                        <strong id="spinner">{{ woord.woord }}</strong>
                    </div>
                    <div class="card-body" id="flash">
                        {{ woord.betekenis }}
                    </div>
                </div>
                <br>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
